﻿@model ProgressTask.Web.Models.EmailFormInputModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="title" class="text-center">
    <h1 class="display-4"><strong>Welcome</strong></h1>
    <h2>Fill the form to register your email</h2>
</div>
<form id="input">
    <div class="row">
        <div id="Form" class="col">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div id="input-group" class="input-group-text bg-white">
                            <i id="icon" class="far fa-user"></i>
                        </div>
                    </div>
                    <input id="email" class="form-control"
                           placeholder="email@email" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="Save" class="btn btn-success btn-lg btn-block"><i class="fas fa-database"></i> Submit</button>
            </div>
        </div>
    </div>
    <div id="wait" style="display:none; position:absolute;top:50%;left:49%;"><img src='~/wait.gif' width="64" height="64" /><br>Loading..</div>
</form>
@section Scripts{
    <script>
            function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
    </script>
}
